* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

#apresentacao {
    background-image: url(assets/img/imgHbo.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.911);
}

header img {
    width: 125px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
}

.painelMenu a {
    text-decoration: none;
    font-size: .860rem;
}

.painelMenu a:nth-child(1) {
    color: white;
}

.painelMenu a:nth-child(2) {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.textPlanos {
    width: 100%;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, rgba(1, 34, 53, 0.527), rgb(3, 50, 77), rgba(1, 34, 53, 0.527));

}
.painelImgPlanos{
    margin-top: 15rem;
}